.Button {
  background: linear-gradient(rgb(53, 168, 164), rgb(79, 177, 144));

  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 50%;
}
