.Day {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  border-radius: 0.5rem;
}

.Day-img {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 7rem;
}

.theme-blue {
  background: linear-gradient(45deg, darkcyan, lightseagreen);
}

.theme-red {
  background: linear-gradient(45deg, crimson, orangered);
}

.theme-yellow {
  background: linear-gradient(45deg, rgb(180, 144, 44), rgb(189, 171, 17));
}

.theme-green {
  background: linear-gradient(45deg, olivedrab, rgb(29, 184, 94));
}
