.Day {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  background: linear-gradient(45deg, darkcyan, lightseagreen);
  border-radius: 0.5rem;
}

.Day-img {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 7rem;
}
