.Day {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;

  background: linear-gradient(mediumpurple, mediumslateblue);
  background-color: mediumbl;
  border-radius: 0.5rem;
  padding: 2rem;
}

.Day-img {
  width: 5rem;
}
