.App {
  height: 100vh;
  max-width: 700px;
  margin: auto;

  display: grid;
  grid-template-rows: 3fr 6fr 1fr;
}

.App > * {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

header {
  background: linear-gradient(rgb(53, 168, 164), rgb(79, 177, 144));

  grid-template-rows: 1fr;
  border-bottom-right-radius: 50%;
}

main {
  grid-template-rows: 1fr 1fr;
}

footer {
  grid-template-columns: 1fr 1fr 1fr;
}

a,
button {
  color: inherit;
  border: none;
}
