.App {
  max-width: 700px;
  height: 100vh;
  margin: auto;

  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 2rem;

  padding: 0 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}

footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.clickable {
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: dotted 5px rgba(0, 0, 0, 0);
}

.clickable:hover {
  border-bottom: dotted 5px whitesmoke;
}

img {
  width: 3rem;
}

a,
img,
button {
  color: inherit;
  border: none;
}
