.App {
  max-width: 700px;
  height: 100vh;
  margin: auto;

  display: grid;
  grid-template-rows: 1fr 8fr 1fr;

  background-color: royalblue;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

main {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
  background-color: #222;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}

.clickable {
  cursor: pointer;
  background-color: #222;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

img {
  width: 3.5rem;
}

a,
img,
button {
  color: inherit;
  border: none;
}
